*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    padding: 20px;
    width: 50%;
    margin: 5px;
}
input{
    padding: 10px;
    margin: 20px;
    width: 100%;
}
#btn{
    padding: 10px;
    width: 20%;
}

